/* Source: https://codepen.io/niallains/pen/RwjNPjM
Code has been altered to adjust the application */

.light-bg {
    min-height: 100vh;
    margin: 0;
    background:
      linear-gradient(
        #387ffb 0%,
        #34c4ff 40%, 
        #ffc6d0 75%, 
        #ffceaa 95%
      );
      background-size: cover;
      background-repeat: repeat;
      background-position: center center;
  }

  @media only screen and (max-width: 768px) {
    .light-bg {
      height: auto;
      background-size: cover;
      background-repeat: repeat;
      background-position: center center;
      background-attachment: fixed;
      }
  }
  
  .light-bg:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 20%;
    padding: 20px;
    border-radius: 100%;
    background: radial-gradient(#fff8 30%, rgba(149, 129, 129, 0.496));
    clip-path: path('M 0 0 L 20 0 C 30 0 30 40 20 40 L 0 40');
    transform: rotate(-20deg);
  }
  
  .light-link {
    color: #101757dc;
  }

  .light-link:hover {
    color: #5169ab;
    transform: scale(1.2);
    transition: transform 0.3s ease;
  }

  .light-button {
    background-color: #387ffb;
    color:#387ffb;
  }

  .light-text {
    color:rgb(92, 46, 46);
  }
  /* .light-bg:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #111;
    height: 10%;
  } */